
img {
  /*position: relative;*/
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}


@import url(https://fonts.googleapis.com/css?family=Oxygen:300);
#custom-nav {
  transition: all 0.8s;
  /*height: 5em;*/
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  background-color: #6A738E; }
  #custom-nav .custom-nav-header {
    padding: 10px 0; }
  #custom-nav .custom-nav-header a {
      color: #000; }
  #custom-nav .navbar-name {
    margin: auto;
    text-decoration: none;
    font-size: 2em; }
  #custom-nav .custom-nav-links {
    padding: 10px 0;
    font-size: 1.25em;
    text-decoration: none; }
    #custom-nav .custom-nav-links li a:hover {
      color: #fff; }
  #custom-nav .custom-nav-collapse {
    background-color: #6A738E; }
  #custom-nav .custom-nav-links a {
    color: #333C58;
    font-size: 18px;
    font-weight: 300;}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}



.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


header {
  padding: 8em 0 4em;
  background-color: #333C58;
  background-image: url(/images/pattern.png) 0.5;
  color: #e9ecdb;
  font-family: 'Quicksand', sans-serif;
  text-align: center; }
  header h2, header h3, header i {
    padding-top: 2%;
    color: #FFD1AA; }
  header a, header a:hover, header a:visited {
    color: #FFD1AA;
    text-decoration: none; }
  header .name {
    color: #fff; }
  header .profile-img {
    max-height: 250px;
    border-radius: 50%; }
  header .contact-icons {
    padding-top: 2%;
    text-align: center; }
    header .contact-icons a, header .contact-icons a:visited {
      padding: 5%;
      color: #FFD1AA;
      text-decoration: none; }
    header .contact-icons a:hover {
      color: #e60838;
      text-decoration: none; }
    header p {
      font-size: 25px;}



#about  {
  background-color: #e9ecdb;}
#about p {
  color: #333C58;
}
#about h2 {
  color: #333C58;
}

#technologies {
  background-color: #6A738E;
  border: none; }
#technologies .container {
  margin: auto;
}
#technologies h2 {
  color: #e9ecdb;
}
#technologies {
  color: #fff;
}

#portfolio  {
  background-color: #e9ecdb;}
#portfolio h2 {
  color: #333C58;
}
#portfolio .under-construction {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  color: #e60838;
  padding-bottom: 2%; }
#portfolio .portfolio-icon {
  max-width: 100%;
  padding-bottom: 1%; }
#portfolio .portfolio-link .caption {
  background-color: rgba(30, 30, 30, 0.7);
  position: absolute;
  width: 92%;
  height: 98%;
  opacity: 0;
  padding-top: 30%; }
#portfolio .portfolio-link .caption .caption-content {
    color: #FFD1AA;
    font-family: 'Quicksand', sans-serif; }
#portfolio .portfolio-link .caption:hover {
  opacity: 1; }
#portfolio img {
  width: 600px;
  height: 300px;}



#contact {
  background-color: #333C58;
  border: none; }
  #contact h3, #contact h4 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2%; }
  #contact .github-chart {
    max-height: 250px;}
  #contact .mail {
    padding-top: 2%;
    color: #c5eed6; }
  #contact .contact-icons a, #contact .contact-icons a:visited {
    padding: 5%;
    color: #fff;
    text-decoration: none; }
  #contact .contact-icons a:hover {
    color: #c5eed6;
    text-decoration: none; }
.resume {
  background-color: #000;
  border:2px black solid;
  font-size: 2em;
  font-family: 'Quicksand', sans-serif;
  z-index: 2;
}

#footer {
  background-color: #6A738E;
  padding: 1% 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif; }
  #footer a, #footer a:visited {
    color: #4C4C4C;
    text-decoration: none; }
  #footer a:hover {
    color: #3ac390;
    text-decoration: none; }



section {
  text-align: center;
  padding: 2% 0;
  border-bottom: 10px solid #FFD1AA; }

.section-header {
  font-family: 'Quicksand', sans-serif;
  color: #552600;
  padding-bottom: 3%;
  cursor: pointer; }

.section-header2 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 3%;
  cursor: pointer }

.section-content {
  padding-bottom: 1%;
  color: #552600;
  line-height: 150%;
  font-size: 1.1em;
  font-family: 'Oxygen', sans-serif; }

.logo-row {
  padding: 2% 0; }



body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    /*text-transform: uppercase;*/
    font-weight: 700;
    letter-spacing: 1px;
}





a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}



body, html {
    height: 100%;
}

.parallax3 {
    /* The image used */
    background-image: url("/images/road.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url("/images/keyboard.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blak {
  background-color: #FFD1AA
}





